img {
    width:30%;
    float:left;
    height: 200px;
    margin: 1.66%;
}
h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-transform: capitalize;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
}
p {
    font-size: 20px;
}